* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #4d4d4d;
  background: #f5f5f5;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  padding: 20px;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.todo-app {
  background: white;
  width: 75%;
  padding: 20px;
  max-width: 600px;
  font-size: 1.2em;
  border-radius: 5px;
}

.todo-app__heading {
  text-align: center;
  font-weight: normal;
  margin: 10px;
}

.todo-app__edit-form,
.todo-app__form, 
.todo-app__list {
  margin: 0;
}

.todo-app__edit-form {
  flex: 1;
}

.todo-app__list {
  padding: 0;
}

.todo-app__input {
  width: 100%;
  margin: 0 10px 20px 0;
  padding: 7.5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  font-size: 1em;
  font-family: inherit;
  color: inherit;
}

.todo-app__list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 0 10px 0;
  padding-left: 10px;
  font-size: 1em;
}

.todo-app__edit-form-input {
  margin: 10px;
  border-width: 0;
  font-size: 1em;
  padding: 10px;
  outline: none;
}

.todo-app__edit-form-input.editing {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.todo-app__edit-form-input.completed {
  text-decoration: line-through;
  font-style: italic;
}

.todo-app__edit-form-input {
  width: 100%;
}

.todo-app__unfinished {
  padding: 0;
  margin: 0 0 0 5px;
  text-align: right;
  font-size: 0.8em;
}

.todo-app__actions {
  margin-left: 20px;
}

.todo-app__actions button {
  margin: 5px;
}